<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="prjFarmacia.Properties.Settings.farmacia_mdfConnectionString"
            connectionString="Data Source=(local);Initial Catalog=farmacia.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>